html, body {
    margin: 0;
    padding: 0;
    background: linear-gradient( rgba(68, 3, 52, 0.75), rgb(157, 99, 175) ), url('resources/bg.png');
    line-height: 1.6;
    min-height: 1080px;
}

.montserrat-font {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #EEEEEE;
    }

/* nav styling */
nav {
    background: #45225d;
    padding: 20px;
    margin: auto;
}

nav table{
    display: flex;
}

nav a{
    display: inline-block;
    color: whitesmoke;
    margin: 0 10px 0 0 ;
    text-decoration: none;
    font-weight: 800;
    line-height: 1;
}

main {
    margin: 40px auto;
    padding: 10px 50px;
    max-width: 650px;
    min-height: ;
    background-color: #45225d;
    border-style: outset;
    border-width: 20px;
    border-color: #45225d;
    outline: #45225d;
}

h1, h2, h3 {
    line-height: 1.2;
}

img {
    display: block;
    margin: auto;
}

