html, body {
    margin: 0;
    padding: 0;
    background: #c6bde5;
    color: #0e0216;
    line-height: 1.6;
}

.montserrat-font {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    }

/* nav styling */
nav {
    background: #45225d;
    padding: 20px;
    margin: auto;
}

nav table{
    display: flex;
}

nav a{
    display: inline-block;
    color: whitesmoke;
    margin: 0 10px 0 0 ;
    text-decoration: none;
    font-weight: 800;
    line-height: 1;
}

main {
    margin: 40px auto;
    max-width: 650px;
}

h1, h2, h3 {
    line-height: 1.2;
}

img {
    display: block;
    margin: auto;
}

